{% load static %}

{% block content %}
<body class="row justify-content-center align-items-center">

	<div class="container">
		<font face="small fonts" size="10" color="#049286">
		       <h4 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Introduzca una nueva contraseña</h4>
		</font>
	</div>

	<hr style="width:75%; border-color:#049286; margin-botton: 2px" >

	<div style="width:70%; margin:auto;" align="center">
		<h3 align="justify">Por favor, Ingrese su nueva contraseña dos veces para que podamos verificar que la ingresó correctamente.</h3>
		
		<form method="post">
			{% csrf_token %}

			{{ form.errors }}

			<label align="center">Nueva Contraseña: </label>
			{{form.new_password1 }}			
			<br><br>
			<label align="center">Confirmar Nueva Contraseña: </label>
			{{form.new_password2 }}
			<br><br>

			<input type="Submit" name="Update Password">
			
		</form>
	</div>

</body>

{% endblock content %}