{% load static %}

{% block content %}
<body class="row justify-content-center align-items-center">

	<div class="container">
		<font face="small fonts" size="10" color="#049286">
		       <h4 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Reestablecimiento de Contraseña</h4>
		</font>
	</div>

	<hr style="width:75%; border-color:#049286; margin-botton: 2px" >

	<div style="width:70%; margin:auto;" align="center">

		<h1><b>¿Olvidaste tu contraseña?</b></h1>
		<h3 align="justify">A continuaci&oacute;n escriba su correo electr&oacute;nico asociado a su cuenta, y as&iacute; enviarle instrucciones para reestablecer la contraseña.</h3>

		<form method="post">
			{% csrf_token %}

			<label align="center">Correo Elect&oacute;nico:</label><br>
			{{form.email}}
			<p></p>
		    <button type="submit">Enviar Correo</button>
	      	<button class="btn btn-outline-success" onclick="location.href='{% url 'evaluacionCliente:index' %}'">Cancelar</button>


		</form>
	</div>

</body>
{% endblock content %}
