{% extends 'base/base.html' %}

{% load static %}

{%block title%}
  Consulta de Resultados de Encuestas de Personal
{%endblock%}

{% block content %}
	<div style="text-align:center; margin: 0 auto;">

<!-- ######################################################################################################################################################### -->
	<!-- VIENE DE LA VIEW  listarRespuestasEncuestaPersonal -->

        <!-- Boton Buscar Agencia-->
        {% if actividadesCon %}

            <div style="text-align:center; margin: 0 auto;">
                <div class="container" align="center">
                    <font face="small fonts" size="10" color="#049286">
                        <h2 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Consulta de Resultados de Encuestas de Personal</h2>
                    </font>
                </div>
            </div>
		
        	</br>
			<h5 align="center">Porfavor selecciona la Actividad de la Agencia para consultar sus Encuestas de Personal.</h5>
			</br>

			<div align="center" class="busqueda">
				<form method="POST" action="{% url 'evaluacionCliente:consultar_actividad_respuestas_personal' %}">
					{% csrf_token %} 
					<select name="codigo_actividad" id="codigo_actividad" class="form-control col-4 col-sm-3 input-style" title="Selecciona la Actividad Porfavor" required>
						<option selected value=""> Seleccione Actividad </option>
							{% for i in actividadesCon %}
								<option value="{{i.id_actividad}}">{{i.codigo_agencia.nombre_agencia}} | {{i.nombre_actividad}}</option> 
							{% endfor %}
						</option> 
					</select></br>
					<input class="btn btn-outline-success" type = "submit" value = "Buscar" id = "AgenciaBuscar">
				</form>
			</div>
		
		{% endif %}

        {% if noHayEncuestas %}

            <div style="text-align:center; margin: 0 auto;">
                <div class="container" align="center">
                    <font face="small fonts" size="10" color="#049286">

                        <h1 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">
                            <strong>¡No se encontraron Encuestas!</strong> 
                        </h1> 
                        
                        <h2 align="center" class="form-titulo" style ="margin-left: 5px; color:black; margin-top:20px; bg-success text-white">
                            Porfavor verifica que est&aacute; Actividad </br> posea su correspondiente encuesta.
                        </h2>

                        <div class="imgResponsiva">
                            </br>
                            <img src="{% static './assets/img/LogoAcopus.png' %}" style="height: 15%; width: 30%;"/> </label>
                        </div>

                        </br>

                        <div class="container" align="center">
                            <input align="center" class="btn btn-outline-success" type = "submit" value = "Inicio" id = "AgenciaBuscar" onclick="location.href='{% url 'evaluacionCliente:index' %}'">
                        </div>

                    </font>
                </div>
            </div>

        {% endif %}

<!-- ######################################################################################################################################################### -->
	<!-- VIENE DE LA VIEW  consultarActividadEncuestaDePersonal -->

    <!-- Boton Buscar Encuesta-->
		{% if encuestasActividad %}

            <div style="text-align:center; margin: 0 auto;">
                <div class="container" align="center">
                    <font face="small fonts" size="10" color="#049286">
                        <h2 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Consulta de Resultados de Encuestas de Personal</h2>
                    </font>
                </div>
            </div>

            </br>
			<h5 align="center">Porfavor selecciona la Encuesta que quieres consultar.</h5>
			</br>

            <div style="text-align:center; margin: 0 auto;">
                <div class="container" align="center">
                    <table class="table table-hover text-center" style="width:50%">
                        <thead>
						<tr>
							<th class="text-center" style="color:#049286"><strong>Agencia:</strong></th>
							{% for i in nombreActividad %}
								<th class="text-center"><i>{{ i.codigo_agencia.nombre_agencia }}</i></th>
							{% endfor %}
						</tr>
                        <tr>
							<th class="text-center" style="color:#049286"><strong>Actividad:</strong></th>
							{% for i in nombreActividad %}
								<th class="text-center"><i>{{ i.nombre_actividad }}</i></th>
							{% endfor %}
						</tr>
					</thead>
                    </table>
                </div>
            </div>

            </br>
		
			<div align="center" class="busqueda">
				<form method="POST" action="{% url 'evaluacionCliente:consultar_respuestas_encuesta_personal' codActividad %}">
					{% csrf_token %} 
					<select name="titulo_encuesta" id="titulo_encuesta" class="form-control col-4 col-sm-3 input-style" title="Selecciona la Encuesta a Consultar" required>
						<option selected value=""> Seleccione la Encuesta </option>
							{% for i in encuestasActividad %}
								<option value="{{i.titulo_encuesta_personal}}">{{i.titulo_encuesta_personal}}</option> 
							{% endfor %}
						</option> 
					</select></br>
					<input class="btn btn-outline-success" type = "submit" value = "Buscar" id = "ActividadBuscar"></br>
				</form>
			</div>

        {% endif %}

<!-- ######################################################################################################################################################### -->
	<!-- VIENE DE LA VIEW  consultarRespuestasEncuestaPersonal -->

		{% if respuestaEncuestasPersonal %}

            <div style="text-align:center; margin: 0 auto;">
                <div class="container" align="center">
                    <font face="small fonts" size="10" color="#049286">
                        <h2 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Consulta de Resultados de Encuestas de Personal</h2>
                    </font>
                </div>
            </div>

            </br>

            <div class="table-responsive" style="width:50%; display:inline-block;">
				<table class="table table-hover text-center">
					
					<thead>
						<tr>
							<th class="text-center" style="color:#049286">Actividad</th>
							<th class="text-center" style="color:#049286">T&iacute;tulo Encuesta</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td><strong>{{ nombreActividad }}</strong></td>
							<td><strong><i>{{ tituloEncuesta }}</i></strong></td>
						</tr>
					</tbody>

				</table>
			</div>

			</br>
			<div class="table-responsive" style="width:80%; display:inline-block;">
                <table id="bootstrapdatatable" class="table table-hover">
                    
                    <thead>
                        <tr>
                            <th>Pregunta</th>
                            <th>Excelente</th>	
							<th>Regular</th>	
                            <th>Pesimo</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for lis in lista %}
                            <tr>
                                <td>{{ lis.pregunta }}</td>
								<td>{{ lis.excelente }}</td>
								<td>{{ lis.regular }}</td>
								<td>{{ lis.pesimo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
            
		{% endif %}

		{% if mensajeVacia %}
			<div style="text-align:center; margin: 0 auto;">
				<div class="container" align="center">
					<font face="small fonts" size="10" color="#049286">

						<h1 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; color: black; bg-success text-white">
							<strong>Est&aacute; encuesta a&uacute;n no ha sido contestada.</strong> 
						</h1> 
						
						<h2 align="center" class="form-titulo" style ="margin-left: 5px; color:black; margin-top:20px; color: black; bg-success text-white">
							Para visualizar resultados de est&aacute; encuesta </br>primero debe de contestarse.
						</h2>

						<div class="container" align="center">
							<input align="center" class="btn btn-outline-success" type = "submit" value = "Inicio" id = "AgenciaBuscar" onclick="location.href='{% url 'evaluacionCliente:index' %}'">
						</div>

					</font>
				</div>
			</div>
		{% endif %}
	</div>

	{% block js %}

	{% endblock js %}

{% endblock content %}